@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
}

/* GENERAL */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p, h1 {
  color: #FFF;
}

label {
  color: #FFF;
}

input[type="text"] {
  text-align: center;
}

img {
  display: block;
}

::placeholder {
  color: #ffffff84;
}

input:focus::placeholder {
  color: transparent;
}

.row {
  max-width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 12px 0;
}

.click {
  cursor: pointer;

}


/* NAV */
nav {
  background-color: #0B0C10;
}

.web__name {
  color: #ffffff;
  margin-right: 32px;
  width: 100%;
  max-width: 100px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 24px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  position: relative;
  color: #FFF;
  margin-left: 32px;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #66FCF1;
}


.nav__link--effect::after {
  position: absolute;
  content: "";
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #66FCF1;
  transition: all 300ms ease;
}

.nav__link:hover:after {
  width: 100%;
  left: 0;
}


.search__bar {
  border: 1px solid #FFF;
  background-color: #0B0C10;
  color: #FFF;
  padding: 4px 2px;
  width: 100%;
  max-width: 400px;
  border-radius: 100px;
  transition: all 300ms ease;
}

.search__bar:hover {
  border: 1px solid #ffffff99;
}

.search__bar:focus {
  outline: none;
  border: 1px solid #66FCF1;
}




/* header */
header {
  height: calc(100vh - 60px);
  background-color: #0B0C10;
}

.header__container--1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  max-width: 500px;
  margin-right: 24px;
}


.header__info--container {
  width: 100%;
  max-width: 500px;
}

.header__info--title {
  margin-bottom: 24px;
}

.show__display--container {
  width: 100%;
  max-width: 500px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.show__img--wrapper {
  position: relative;
  border: 1px solid #FFF;
  width: 230px;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
}

.rick_morty__img {
  position: absolute;
  max-width: 200px;
  top: -30px;
  scale: 1.6;
  width: 100%;
}

.the_Walking_Dead__img {
  position: absolute;
  width: 100%;
  scale: 4;
}

.header__btn {
  border: 1px solid #FFF;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: rgb(0, 11, 26);
  color: #FFF;
  margin-bottom: 24px;
  margin-right: 24px;

  transition: all 300ms ease;
}

.header__btn:hover {
  border: 1px solid #000;
  background-color: #FFF;
  color: rgb(0, 11, 26);
}

.header__btn:active {
  box-shadow: 1px 1px 10px 1px #66FCF1;
}

.movie__display--wrapper {
  border: 1px solid #FFF;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.movie__img--1 {
  width: 100%;
}

.movie__display--wrapper-2 {
  position: relative;
  border: 1px solid #FFF;
  width: 100%;
  max-width: 500px;
  height: 350px;
  margin-bottom: 24px;
  overflow: hidden;
  border-radius: 12px;
}

.movie__img--2 {
  position: absolute;
  max-width: 700px;
  left: -200px;
}

.movie__display--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__container--main {
  display: flex;
  justify-content: center;
}

.rick_morty--wrapper {
  margin-right: 24px;
}

.movie__display--wrapper-3 {
  border: 1px solid #FFF;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  border-radius: 12px;
}

.movie__img--3 {
  width: 100%;
}

