@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
}

/* GENERAL */
input[type="text"] {
  padding-left: 12px;
}

::placeholder {
  color: #ffffff84;
}

input:focus::placeholder {
  color: transparent;
}

h1, p {
  color: #FFF;
}

.click {
  cursor: pointer;
}


/* NAV */
.search__bar {
  background-color: #1F2833;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 4px 2px;
  width: 100%;
  max-width: 400px;
  border-radius: 100px;
  transition: all 300ms ease;
}

.search__bar:hover {
  border: 1px solid #ffffff99;
}

.search__bar:focus {
  border: 1px solid #66FCF1;
  outline: none;
}


/* header/nav */
.nav__container {
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 0 32px;
  z-index: 2;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btn {
  background-color: #1F2833;
  color: #FFF;
  border: 1px solid #FFF;
  padding: 8px 16px;
  border-radius: 100px;
  margin: 24px 24px 24px 0;
  
  transition: all 300ms ease;
}

.header__btn:hover {
  border: 1px solid #000;
  background-color: #FFF;
  color: rgb(0, 11, 26);
}

.header__btn:active {
  box-shadow: 1px 1px 10px 1px #66FCF1;
}

.header__info--container {
  position: absolute;
  top: 150px;
  left: 32px;
  opacity: 1;
  color: #FFF;
}

.header__title {
  width: 100%;
  max-width: 600px;
  font-size: 54px;
  font-weight: 700;
}


.header__slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  filter:brightness(0.6)
}

.header__slider .header__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slide 20s infinite;
}

.header__slider .header__slide:nth-child(1) {
  background-image: url('./assets/theBatmanImage.jpeg');
  animation-delay: -0;
}

.header__slider .header__slide:nth-child(2) {
  background-image: url('./assets/theSimpsonsimg.jpeg');
  animation-delay: -4s;
}
  
.header__slider .header__slide:nth-child(3) {
  background-image: url('./assets/killBillimg.jpeg');
  animation-delay: -8s;
}
  
.header__slider .header__slide:nth-child(4) {
  background-image: url('./assets/rocky.webp');
  animation-delay: -12s;
}

.header__slider .header__slide:nth-child(5) {
  background-image: url('./assets/theWalkingDead.jpeg');
  animation-delay: -16s;
}

@keyframes slide {
  0%, 15%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
  }
}